{% extends 'layout.html' %}

{% block body %}
    <h1 class="text-center">Simulation Results</h1>
    <div class="text-center">
        <img src="{{url_for('static', filename='FIFO.png')}}" class="img-fluid"/>
        <img src="{{url_for('static', filename='Round-Robin.png')}}" class="img-fluid"/>
    </div>
    <br>
    <div class="text-center">
        <img src="{{url_for('static', filename='CFS_1.png')}}"  class="img-fluid"/>
        <img src="{{url_for('static', filename='CFS_2.png')}}" class="img-fluid"/>
    </div>


{% endblock %}